@media all and (min-width: 480px) {


    div.outer-div
    {
        padding: 30px;
    }

    div.Center {
        margin: 10px auto;
        /*width: 100px;*/
        max-width: 600px;
        text-align: center;
    }

    .center-block {
        display: inline-block;
        padding:10px;
    }
    .outer-row {
        line-height: 40px;
    }
    .inner {

        display: inline-block;
        vertical-align: middle;
        padding: 3px 5px;
        line-height: normal;
    }


    div.Left {
        margin: 10px auto;
        max-width: 600px;
        text-align: left;
    }
    p.centered {
        text-align: center;
    }

    .hidden {
        display: none;
    }

}
