@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Center {
        margin: 0 auto;
        max-width: 600px;
    }

    p.centered {
        text-align: center;
    }
}
