@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }


    div.Center {
        margin: 10px auto;
        max-width: 600px;
        text-align: center;
    }

    div.Left {
        margin: 10px auto;
        max-width: 600px;
        text-align: left;
    }
    p.centered {
        text-align: center;
    }

    .hidden {
        display: none;
    }

}
