<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="http://1time.click/ico.png">

    <title>One-time message</title>
</head>
<body class="text-center" >

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <img class="mb-4" src="/ico.png" alt="" width="72" height="72">
            <h3 class="h3 mb-3 font-weight-normal">Input secret key:</h3>
            <form action="" method="post">

                <div class="form-group col-sm" >
                    <label for="secretKey" class="sr-only">Secret key</label>
                    <input type="text" class="form-control justify-content-md-center" id="secretKey" aria-describedby="keyHelp" placeholder="Secret Key" name="secretKey">
                    <small id="keyHelp" class="form-text text-muted">This key is used to message decryption</small>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col"></div>

    </div>

</div>

</body>
</html>