<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="http://1time.click/ico.png">

    <title>One-time message</title>
</head>
<body class="text-center" >
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <img class="mb-4" src="/ico.png" alt="" width="72" height="72">
            <h2 class="h3 mb-3 font-weight-normal">Secret message:</h2>
                <div class="form-group">
                    <textarea readonly class="form-control" id="secretMessage" aria-describedby="messageHelp" name="secretMessage" rows="3" >{{.Message}}</textarea>
                    <small id="messageHelp" class="form-text text-muted">Message was destoyed</small>
                </div>
            <a class="btn btn-outline-primary btn-sm" href="/" role="button">Create new ></a>

        </div>
        <div class="col">
        </div>
    </div>
</div>

</body>
</html>


