body, pre {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #333;
}

h1, h2, h3, h4, h5, h6{
    font-family: "PT Serif", serif;
}
h1 {
    font-size: small;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
div.logocentered {
    width: 72px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
